html
  head
    title JSHintr
    link(rel="stylesheet", href="./jshintr-assets/css/style.css")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
    script(src='./jshintr-assets/js/application.js')
  body
    #wrapper!= body